xx* filter=lfs diff=lfs merge=lfs -text
tools/LocoMotif/genome/xx07 filter=lfs diff=lfs merge=lfs -text
tools/LocoMotif/genome/xx08 filter=lfs diff=lfs merge=lfs -text
tools/LocoMotif/genome/xx12 filter=lfs diff=lfs merge=lfs -text
tools/LocoMotif/genome/xx16 filter=lfs diff=lfs merge=lfs -text
tools/LocoMotif/genome/xx20 filter=lfs diff=lfs merge=lfs -text
tools/LocoMotif/genome/xx01 filter=lfs diff=lfs merge=lfs -text
tools/LocoMotif/genome/xx03 filter=lfs diff=lfs merge=lfs -text
tools/LocoMotif/genome/xx05 filter=lfs diff=lfs merge=lfs -text
tools/LocoMotif/genome/xx22 filter=lfs diff=lfs merge=lfs -text
tools/LocoMotif/genome/xx24 filter=lfs diff=lfs merge=lfs -text
tools/LocoMotif/genome/xx25 filter=lfs diff=lfs merge=lfs -text
tools/LocoMotif/genome/xx19 filter=lfs diff=lfs merge=lfs -text
tools/LocoMotif/genome/xx23 filter=lfs diff=lfs merge=lfs -text
tools/LocoMotif/genome/xx02 filter=lfs diff=lfs merge=lfs -text
tools/LocoMotif/genome/xx04 filter=lfs diff=lfs merge=lfs -text
tools/LocoMotif/genome/xx06 filter=lfs diff=lfs merge=lfs -text
tools/LocoMotif/genome/xx09 filter=lfs diff=lfs merge=lfs -text
tools/LocoMotif/genome/xx10 filter=lfs diff=lfs merge=lfs -text
tools/LocoMotif/genome/xx11 filter=lfs diff=lfs merge=lfs -text
tools/LocoMotif/genome/xx17 filter=lfs diff=lfs merge=lfs -text
tools/LocoMotif/genome/xx18 filter=lfs diff=lfs merge=lfs -text
tools/LocoMotif/genome/xx21 filter=lfs diff=lfs merge=lfs -text
tools/LocoMotif/genome/xx13 filter=lfs diff=lfs merge=lfs -text
tools/LocoMotif/genome/xx14 filter=lfs diff=lfs merge=lfs -text
tools/LocoMotif/genome/xx15 filter=lfs diff=lfs merge=lfs -text
tools/LocoMotif/genome/* filter=lfs diff=lfs merge=lfs -text
